/* SETUP */
:root {
  --clr-bg-900: #2e323f;
  --clr-bg-800: #3b4050;
  --clr-bg-400: #f2f2f2;
  --clr-bg-100: #ffffff;
  --clr-accent: #a59678;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: red solid 1px; */
}

/* UTILITY CLASS */
.txt-clr-acc {
  color: var(--clr-accent);
}
.txt-clr-dark {
  color: var(--clr-bg-900);
}
.txt-clr-light {
  color: var(--clr-bg-100);
}
.bg-clr-900 {
  background-color: var(--clr-bg-900);
}
.bg-clr-800 {
  background-color: var(--clr-bg-800);
}
.bg-clr-400 {
  background-color: var(--clr-bg-400);
}
.bg-clr-100 {
  background-color: var(--clr-bg-100);
}
.bg-clr-acc {
  background-color: var(--clr-accent);
}

/* CONTAINER */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}
.hero .container,
main .container,
footer .container {
  padding-block: 2rem;
}

/* TYPOGRAPHY */
img {
  max-width: 100%;
}
a:hover,
a:focus,
button:hover,
button:focus {
  opacity: 0.75;
}
h1,
h2,
h3,
h4,
.cta-btn {
  font-family: "Oswald", sans-serif;
  margin: 0;
  line-height: 1;
}
p {
  line-height: 1.6;
}

header {
  padding: 1em 0;
  text-align: center;
}

nav {
  width: 100%;
  font-family: "Oswald", sans-serif;
}

/* HAMBURGER BUTTON STUFF */
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

/* NAVIGATION BAR */
.logo {
  height: 30px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__list--primary {
  margin-bottom: 2em;
}
.nav__item {
  margin-top: 0.75em;
}
.nav__link {
  text-decoration: none;
  color: var(--clr-bg-100);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
}
.nav__link--button {
  color: var(--clr-bg-100);
  padding: 0.25em 0.75em;
  border-radius: 100px;
}

/* HERO */
.hero {
  display: grid;
  align-items: center;
}
.hero__title {
  font-size: 50px;
  font-weight: 700;
  white-space: nowrap;
}
.hero__text {
  font-size: 16px;
  margin-block: 3em 1.5em;
}
.cta-btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 900;
  padding: 0.5em 1.5em;
  border-radius: 100px;
}

/* SECTION 1 AND 2 */
.section-1 .col {
  margin-block: 2em;
}
.col__header {
  color: var(--clr-accent);
  font-size: 26px;
  text-align: center;
  font-weight: 900;
}
.col__text {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.section__title {
  font-size: 32px;
}
.section__text {
  font-size: 18px;
}

.sidebar__col {
  padding: 1.2em;
  margin-block: 1em;
}
.sidebar .col__header {
  color: var(--clr-bg-100);
}

/* FOOTER */
.footer__title {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 1em;
}
.footer__section {
  margin: 2em 1em 0 1em;
}
.footer__header {
  font-size: 21px;
}
.footer__text {
  font-size: 16px;
  max-width: 40ch;
}

/* MID SIZE SCREEN */
@media screen and (min-width: 700px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__list--primary {
    margin-inline: auto 2em;
  }
  .nav__item {
    margin: 0 0 0 1.5em;
  }

  .hero {
    min-height: calc(100vh - calc(72px));
  }
  .hero__col {
    width: 55%;
  }
  .hero__title {
    font-size: 70px;
    font-weight: 800;
  }
  .hero__content {
    align-self: flex-end;
    width: 35%;
  }
  .hero__text {
    font-size: 20px;
  }
  .cta-btn {
    font-size: 24px;
    padding-block: 0.25em;
  }

  .section-1 .col,
  .sidebar__col {
    width: 30%;
  }
  .col__header {
    font-size: 30px;
  }
  .col__text {
    font-size: 18px;
  }

  .section-2.row {
    flex-direction: column;
  }
  .section__title {
    font-size: 36px;
  }
  .section__text {
    font-size: 21px;
  }
}

/* LARGE SIZE SCREEN */
@media screen and (min-width: 1000px) {
  .hero__title {
    font-size: 90px;
    font-weight: 900;
  }
  .hero__col {
    width: 50%;
  }
  .hero__content {
    width: 40%;
  }

  .section-2.row {
    flex-direction: row;
  }

  .primary-content {
    width: 60%;
  }

  .sidebar.row {
    flex-direction: column;
    width: 30%;
  }
  .sidebar__col {
    width: 100%;
  }
}